@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --content-font: 'Fira Sans Condensed', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 34, 34, 0.929);
    font-family: var(--content-font);
}

.battery-content {
    border: 2px solid rgb(240, 240, 86);
    padding: 18px 32px;
}

.battery-content h1 {
    color: #7bf1a8;
    font-size: 2.1rem;
    letter-spacing: 2px;
    cursor: default;
}

.battery-level {
    color: rgb(245, 70, 70)!important;
    font-size: 2rem;
}